extends profile-layout

block content
    if(isSaved !== null)
        if(isSaved === true)
            article.message.is-success
                div.message-header Success save change
                div.message-body
                    strong Congratulations,
                    span   question succefull saved!
        else
            article.message.is-danger
                div.message-header Fail save change
                div.message-body
                    strong Error,
                    span  when try save change in question #{question._id}. Try later or contact with administrator
    div.box
        div.columns
            div.column.is-fullwidth
                h3.title.is-3 Edit question
        div.columns
            div.column.is-fullwidth
                form(method='post')
                    div.columns
                        div.column
                            p.control
                                label.label(for='pollsType') Polls type
                                if(question.pollsType === 'worker')
                                    span.select.is-fullwidth
                                        select#pollsType(name='pollsType')
                                            option(value='worker', selected) For workers
                                            option(value='client') For customers
                                else if(question.pollsType === 'costumer')
                                    span.select.is-fullwidth
                                        select#pollsType(name='pollsType')
                                            option(value='worker') For workers
                                            option(value='client', selected) For customers
                                else
                                    span.select.is-fullwidth
                                        select#pollsType(name='pollsType')
                                            option(value=question.pollsType, selected) #{question.pollsType}
                                            option(value='worker') For workers
                                            option(value='client') For customers
                        div.column
                            p.control
                                label.label(for='questionText') Text
                                input.input#questionText(name='questionText', type='text', placeholder='How are you?', value=question.questionText, required)
                    div.columns
                        div.column
                            p.control
                                label.label(for='answerOne') Answer 1
                                input.input#answerOne(name='answerOne', type='text', placeholder='Yes', value=question.answerOne, required)
                        div.column
                            p.control
                                label.label(for='answerTwo') Answer 2
                                input.input#answerTwo(name='answerOne', type='text', placeholder='No', value=question.answerTwo,required)
                    div.columns
                        div.column
                            p.control
                                label.label(for='answerThree') Answer 3
                                input.input#answerThree(name='answerThree', type='text', placeholder='Do not know', value=question.answerThree,required)
                        div.column
                            p.control
                                label.label(for='answerFore') Answer 4
                                input.input#answerFore(name='answerFore', type='text', placeholder='WTF', value=question.answerFore,required)
                    p.control
                        button.button.is-primary Сохранить
                        a.button.is-link(href='/profile') Отмена
