extends profile-layout

block content
    if(isSaved !== null)
        if(isSaved === true)
            article.message.is-success
                div.message-header Change #{room.label} succefull saved
                div.message-body
                    strong Congratilations!
                    span  Changes in #{room.name} (#{room.label}) succefull saved!
        else
            article.message.is-danger
                div.message-header Fail save #{room.label}
                div.message-body
                    strong Error!
                    span  Fail, when try save changes in #{room.name} (#{room.label}). Try later or contact with administrator.
    div.box
        div.columns
            div.column.is-fullwidth
                h3.title.is-3 Editing room: #{room.label}
        div.columns
            div.column.is-fullwidth
                form(method='post')
                    div.columns
                        div.column.is-fullwidth
                            p.control
                                label.label(for='name') Room name
                                input.input#name(name='name', type='text', placeholder='testroom', value=room.name)
                    div.columns
                        div.column.is-fullwidth
                            p.control
                                label.label(for='label') Room label
                                input.input#label(name='label', type='text', placeholder='Testing room', value=room.label)
                    div.columns
                        div.column
                            p.control
                                label.label(for='visiability') Visiability
                                span.select.is-fullwidth
                                    select#visiability(name='visiability')
                                        if(room.visiability === 'private')
                                            option(value='private', selcted) Private
                                            option(value='public') Public
                                        else
                                            option(value='private') Private
                                            option(value='public', selected) Public
                        div.column
                            each c in companies
                                label.label(for='company') Company
                                span.select.is-fullwidth
                                    select#company(name='company')
                                        if(room.company.toString() === c._id.toString())
                                            option(value=c.name, selected) #{c.name}
                                        else
                                            option(value=c.name) #{c.name}
                    div.columns
                        div.column.is-fullwidth
                            p.control
                                button.button.is-primary Save
                                a.button.is-link(href='/profile') Cancel
