extends profile-layout

block content
    if(isSaved !== null)
        if(isSaved === true)
            article.message.is-success
                div.message-header Changes "#{company.name}" succefull saved
                div.message-body
                    strong Congratulations!
                    span  All changes saved
        else
            article.message.is-danger
                div.message-header Fail saved change "#{company.name}"
                div.message-body
                    strong Error!
                    span  Changes "#{company.name}" do not saved. Try later or contact with administrator.
    div.box
        div.columns
            div.column.is-fullwidth
                h3.title.is-3 Editing company: #{company.name}
        div.columns
            div.column.is-fullwidth
                form(method='post')
                    div.columns
                        div.column.is-fullwidtj
                            p.control
                                label.label(for='name') Company name
                                input.input#name(name='name', type='text', placeholder='Company, ltd.', value=company.name, required)
                    div.columns
                        div.column.is-fullwidth
                            p.control
                                label.label(for='address') Address
                                input.input#address(name='address', type='text', placeholder='Russia, Moscow, Prechistenka street 24 (Kalabuhovsky house)', value=company.address, required)
                    div.columns
                        div.column.is-fullwidth
                            p.control
                                label.label(for='site') URL
                                input.input#site(name='site', type='text', placeholder='http://linux.org.ru', value=company.site, required)
                    div.columns
                        div.column
                            p.control
                                button.button.is-primary Save
                                a.button.is-link(href='/profile') Cancel
