doctype html
html
  head
    title= message
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.columns
      div.column.is-6.is-offset-3.is-info
        div.card.is-fullwidth.is-margin-top-half
          div.card-image
            figure.image.is-4by3
              img(src='/images/error-image.png' alt=message)
          div.card-content
            div.media
              div.media-left
                figure.image.is-32x32
                  img(src='/images/error-icon.png' alt=message)
              div.media-content
                p.title.is-5 Sorry, but an error occurred: #{error.status}
                p.subtitle.is-6 An unexpected error occurred
            div.content
              p
                span Sorry, but an unexpected error occurred #{error.status} (#{message}). Contact a
                a(href='#') support
                span   of the resource or use the hyperlinks below.
              div.columns
                div.column.has-text-centered
                  a(href='/') #MainPage
                div.column.has-text-centered
                  a(href='http://sdvor.com') #Site
                div.column.has-text-centered
                  a(href='igrave@gmail.com') #Support
