doctype html
html
  head
    title= message
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.columns
      div.column.is-6.is-offset-3.is-info
        div.card.is-fullwidth.is-margin-top-half
          div.card-image
            figure.image.is-4by3
              img(src='/images/error-image.png' alt=message)
          div.card-content
            div.media
              div.media-left
                figure.image.is-32x32
                  img(src='/images/error-icon.png' alt=message)
              div.media-content
                p.title.is-5 Извините, но произошла ошибка: #{error.status}
                p.subtitle.is-6 Произошла непредвиденная ошибка
            div.content
              p
                span Извините, но произошла непредвиденная ошибка #{error.status} (#{message}). Обратитесь в 
                a(href='#') техническую поддержку
                span  ресурса или воспользуйтесь гиперссылками, расположенными ниже.
              div.columns
                div.column.has-text-centered
                  a(href='/') #Главная
                div.column.has-text-centered
                  a(href='http://sdvor.com') #Интернет-магазин
                div.column.has-text-centered
                  a(href='igrave@gmail.com') #Техподдержка