extends profile-layout

block content
    div.box        
        div.columns
            div.column.is-fullwidth
                h3.title.is-3 #{user.username}
        div.columns
            div.column
               img(src='/images/default-user.png')
            div.column
                h5.title.is-5 Личные данные
                p
                    strong Имя:
                    span  #{user.name}
                p
                    strong Фамилия:
                    span  #{user.surname}
                p
                    strong Отчество:
                    span  #{user.lastname}
                hr    
                h5.title.is-5 Служебная информация
                p
                    strong Наименование:
                    span  #{company.name}
                p
                    strong Сайт 
                    span
                        a(href='http://#{company.site}') #{company.site}
                p
                    strong Дата регистрации:
                    span  #{user.created_at}