extends profile-layout

block content
    div.box
        div.columns
            div.column.is-fullwidth
                h3.title.is-3 #{user.username}
        div.columns
            div.column
               img(src='/images/default-user.png')
            div.column
                h5.title.is-5 Personal data
                p
                    strong Name:
                    span  #{user.name}
                p
                    strong Surname:
                    span  #{user.surname}
                p
                    strong Lastname:
                    span  #{user.lastname}
                hr
                h5.title.is-5 Служебная информация
                p
                    strong Company:
                    span  #{company.name}
                p
                    strong Site
                    span
                        a(href='http://#{company.site}') #{company.site}
                p
                    strong Register date:
                    span  #{user.created_at}
