extend profile-layout

block content
    form(method='GET')
        div.columns
            div.column
                div.columns
                    div.column
                        h3.title.is-3 Date from
                    div.column
                        h3.title.id3 Date to
                    div.column
                div.columns
                    div.column
                        label.label(for='filterYear') Year
                        p.control
                            input.input#filterYear(name='filterYear', type="text" placeholder="2016", value=filters.year ,required)
                        label.label(for='filterMonth') Month
                        p.control
                            input.input#filterMonth(name='filterMonth', type='text', placeholder='1', value=filters.month, required)
                        label.label(for='filterDay') Day
                        p.control
                            input.input#filterDay(name='filterDay', type='text', placeholder='1', value=filters.day, required)
                    div.column
                        label.label(for='filterYearEnd') Year
                        p.control
                            input.input#filterYearEnd(name='filterYearEnd', type='text', placeholder='2017', value=filters.yearEnd, required)
                        label.label(for='filterMonthEnd') Month
                        p.control
                            input.input#filterMonthEnd(name='filterMonthEnd', type='text', placeholder='1', value=filters.monthEnd, required)
                        label.label(for='filterDayEnd') Day
                        p.control
                            input.input#filterDayEnd(name='filterDayEnd', type='text', placeholder='1', value=filters.dayEnd, required)
                    div.column
                        div.columns
                            div.column
                                p.control
                                    button.button.is-primary.is-fullwidth.is-large Filtering
                        div.columns
                            div.column
                                a.button.is-success.is-large.is-fullwidth(target='_blank', href='/profile/downloads/missed/'+dateFrom+'/'+dateTo) Save
    div.columns
        div.column
            table.table
                thead
                    tr
                        th Customer
                        th Date
                        th Token
                tfoot
                    tr
                        th Customer
                        th Date
                        th Token
                tbody
                    each entry in entries
                        tr
                            td #{entry.userInfo}
                            td #{entry.date}
                            td #{entry.easyRtcToken}
