doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
        title= roomLabel
        link(rel='stylesheet', href='/stylesheets/bulma.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='/client/css/widget.css')
        link(rel="stylesheet", type="text/css", href="/easyrtc/easyrtc.css")
        // Load utils scripts
        script(src="/socket.io/socket.io.js")
        script(type="text/javascript", src="/easyrtc/easyrtc.js")
        if(userType === 'client')
            script(type='text/javascript', src='/client/js/videochat.js')
            if(needCheck === 'need')
                script(type='text/javascript' src='/client/js/utilsWithCheck.js')
            else
                script(type='text/javascript' src='/client/js/utils.js')
        else if(userType === 'worker')
            script(type='text/javascript', src='/client/js/videochat-worker.js')
            script(type='text/javascript', src='/client/js/ui.js')
    body(onload=onload)
        if(userType === 'worker')
            div.modal#modalCall
                div.modal-background
                    div.modal-card.is-margin-top-persent
                        header.modal-card-head
                            p.modal-card-title Ожидается звонок пользователю
                        section.modal-card-body
                            span Внимание! Cкоро будет осуществлен звонок пользователю!
                        footer.modal-card-foot
                            a.button.is-primary(onclick='pleaseCall();') Позвонить
                            a.button.is-danger(onclick='notCall();') Не звонить
        else
            div.modal#modalCall
                div.modal-background
                    div.is-margin-top-persent.modal-card
                        header.modal-card-head
                            p.modal-card-title Связаться с вами по видеосвязи?
                        section.modal-card-body
                            div.columns
                                div.column.is-fullwidth#questionDiv
                            div.columns#capchaDiv
                        footer.modal-card-foot
                            a.button.is-primary(onclick='pleaseCall();') Да, позвонить мне
                            a.button.is-danger(onclick='notCall();') Нет, не надо мне звонить
            div.modal#emptyRoom
                div.modal-background
                    div.is-margin-top-persent.modal-card
                        header.modal-card-head
                            p.modal-card-title Данная комната пуста
                        section.modal-card-body
                            div.columns
                                div.column.is-fullwidth
                                    span Извините, но на данный момент ни одного менеджера нет на месте. Вы можете отпраивть нам email на
                                    a(href='mailto: example@test.ru') электронную почту
                                    span  и мы свяжемся с вами как только будет возможность. Извините за недобства =)
                            div.columns#capchaDiv
                        footer.modal-card-foot
            div.modal#notCalled
                div.modal-background
                    div.is-margin-top-persent.modal-card
                        header.modal-card-head
                            p.modal-card-title Ожидайте звонка
                        section.modal-card-body
                            div.columns
                                div.column.is-fullwidth
                                    p Извините, но все менеджеры пока заняты. Оставайтесь на связи и мы вам перезвоним в ближайшее время
                            div.columns#capchaDiv
                        footer.modal-card-foot
            div.modal#haveCalled
                div.modal-background
                    div.is-margin-top-persent.modal-card
                        header.modal-card-head
                            p.modal-card-title Спасибо за звонок
                        section.modal-card-body
                            div.columns
                                div.column.is-fullwidth
                                    p Надеемся мы смогли вам помочь!
                            div.columns#capchaDiv
                        footer.modal-card-foot
        div#if-not-posible.is-hidden
            div.card.is-fullwidth.is-fullheight.is-hidden#softwareError
                div.card-image
                    figure.image.is-2by1
                        img(src='/images/old-browser.png' alt='Uuups!')
                div.card-content
                    div.media
                        div.media-left
                            figure.image.is-32x32
                                image(src='/images/error-icon.png', alt='Error')
                        div.media-content
                            p.title.is-5 Извините, ваш браузер не поддерживается!
                            p.subtitle.is-6 Вы используете устаревшую версию браузера
                    div.content
                        span Для того, чтобы воспользоваться сервисом установите поддерживаемый браузер или закажите обратную связь
                        br
                        div.columns.is-mobile
                            div.column
                                a.button.is-fullwidth(href='https://www.google.ru/chrome/browser/desktop/') Скачать Google Chrome
                            div.column
                                a.button.is-fullwidth(href='#') Обратная связь
            div.card.is-fullwidth.is-fullheight.is-hidden#hardwareError
                div.card-image
                    figure.image.is-2by1
                        img(src='/images/hardware-error.png' alt='Uuups!')
                div.card-content
                    div.media
                        div.media-left
                            figure.image.is-32x32
                                image(src='/images/error-icon.png', alt='Error')
                        div.media-content
                            p.title.is-5 Извините, но возникли неполадки с вашим обрудованием!
                            p.subtitle.is-6 Проверьте подключение web-камеры и микрофона
                    div.content
                        span Нам не удалось получить доступ к вашему микрофону и/или web-камере. Проверьте настройки системы и их подключение.
                        br
                        div.columns.is-mobile
                            div.column
                                a.button.is-fullwidth(href='https://www.google.ru/chrome/browser/desktop/') Скачать Google Chrome
                            div.column
                                a.button.is-fullwidth(href='#') Обратная связь
            div.card.is-fullwidth.is-fullheight.is-hidden#deviceError
                div.card-image
                    figure.image.is-2by1
                        img(src='/images/device-error.png' alt='Uuups!')
                div.card-content
                    div.media
                        div.media-left
                            figure.image.is-32x32
                                image(src='/images/error-icon.png', alt='Error')
                        div.media-content
                            p.title.is-5 Извините, но мобильные устройства временно не поддерживаются
                            p.subtitle.is-6 Не поддерживаемый класс устройств
                    div.content
                        span Мы еще разрабатываем мобильную версию сервиса. Пока просим воспользоваться декстопной!
                        br
                        div.columns.is-mobile
                            div.column
                                a.button.is-fullwidth(href='https://www.google.ru/chrome/browser/desktop/') Скачать Google Chrome
                            div.column
                                a.button.is-fullwidth(href='#') Обратная связь
                                
        div#if-possible.is-hidden
            nav.nav.is-darken
                div.nav-left
                    a.nav-item.is-brand(href='/')
                        h3.title.is-3.is-yellow
                            span.icon
                                i.fa.fa-comments-o
                            span#roomname(name=roomName) #{roomLabel}
                        
            div.columns
                div.column.sidebar#sidebar(name=userType)
                    div.box.self-video-box
                        video.easyrtcMirror.is-fullwidth#selfVideo(autoplay='autoplay', muted='muted', volume='0')
                        if(userType === 'worker')
                            div#appState(name='notNeedOpen')
                    if(userType === 'worker')
                        nav.panel
                            p.panel-heading.has-text-centered#iam Идет соединение
                            p.panel-tabs
                                a#users-menu.is-active(onclick='clickTab(this.id);', href='#') Пользователи
                                a#rooms-menu(onclick='clickTab(this.id);', href='#') Комнаты
                                a#call-menu(onclick='clickTab(this.id);', href='#!') Звонок
                                a#query-menu(onclick='clickTab(this.id);', href='#') Очередь
                            div#users-menu-block
                                div#otherClients
                            div#rooms-menu-block.is-hidden
                                div#roomList
                            div#query-menu-block.is-hidden
                                div.panel-block
                                    strong Задержка перед звонком
                                    p.control
                                        div.notification.is-success.is-hidden#succNotif
                                            button.delete#closeBtn(onclick='hideNotification();')
                                            span Поздравяем! Интервал успешно изменен!
                                        a.button.is-info.is-fullwidth.is-margin-bottom(onclick='changeCallInterval(6000);') 6 секунд
                                        a.button.is-info.is-fullwidth.is-margin-bottom(onclick='changeCallInterval(30000);') 30 секунд
                                        a.button.is-info.is-fullwidth.is-margin-bottom(onclick='changeCallInterval(60000);') 1 минута
                                        a.button.is-info.is-fullwidth.is-margin-bottom(onclick='changeCallInterval(180000);') 3 минуты
                                        a.button.is-info.is-fullwidth.is-margin-bottom(onclick='changeCallInterval(300000);') 5 минут
                                div.panel-block
                                    strong Очередь пользователей
                                    div#queryDiv
                                    div#queryDivWorker
                            div#call-menu-block.is-hidden
                                a.panel-block(href='#', onclick='hangupCall();')
                                    span.panel-icon
                                        i.fa.fa-phone
                                    span Положить трубку
                                a.panel-block#cameraOff(href='#', onclick='muteMyVideo();')
                                    span.panel-icon
                                        i.fa.fa-ban
                                    span Выключить камеру
                                a.panel-block.is-hidden#cameraOn(href='#', onclick='muteMyVideo();')
                                    span.panel-icon
                                        i.fa.fa-video-camera
                                    span Включить камеру
                                a.panel-block#microphoneOff(href='#', onclick='muteMyMicrophone();')
                                    span.panel-icon
                                        i.fa.fa-microphone-slash
                                    span Выключить микрофон
                                a.panel-block.is-hidden#microphoneOn(href='#', onclick='muteMyMicrophone();')
                                    span.panel-icon
                                        i.fa.fa-microphone
                                    span Включить микрофон
                    else
                         nav.panel
                            p.panel-heading.has-text-centered#iam Идет соединение
                            a.panel-block(href='#', onclick='hangupCall();')
                                span.panel-icon
                                    i.fa.fa-phone
                                span Положить трубку
                            a.panel-block#cameraOff(href='#', onclick='muteMyVideo();')
                                span.panel-icon
                                    i.fa.fa-ban
                                span Выключить камеру
                            a.panel-block.is-hidden#cameraOn(href='#', onclick='muteMyVideo();')
                                span.panel-icon
                                    i.fa.fa-video-camera
                                span Включить камеру
                            a.panel-block#microphoneOff(href='#', onclick='muteMyMicrophone();')
                                span.panel-icon
                                    i.fa.fa-microphone-slash
                                span Выключить микрофон
                            a.panel-block.is-hidden#microphoneOn(href='#', onclick='muteMyMicrophone();')
                                span.panel-icon
                                    i.fa.fa-microphone
                                span Включить микрофон
                            div.panel-block
                                a.button.is-danger.is-outlined.is-fullwidth(href='/profile') Выйти
                div.column.main-screen
                    video#callerVideo.is-fullwidth(autoplay="autoplay")