doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
        title= roomLabel
        link(rel='stylesheet', href='/stylesheets/bulma.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='/client/css/widget.css')
        link(rel="stylesheet", type="text/css", href="/easyrtc/easyrtc.css")
        // Load utils scripts
        script(src="/socket.io/socket.io.js")
        script(type="text/javascript", src="/easyrtc/easyrtc.js")
        if(userType === 'client')
            script(type='text/javascript', src='/client/js/videochat.js')
            if(needCheck === 'need')
                script(type='text/javascript' src='/client/js/utilsWithCheck.js')
            else
                script(type='text/javascript' src='/client/js/utils.js')
        else if(userType === 'worker')
            script(type='text/javascript', src='/client/js/videochat-worker.js')
            script(type='text/javascript', src='/client/js/ui.js')
    body(onload=onload)
        if(userType === 'worker')
            div.modal#modalEmptyWorkers
                div.modal-background
                    div.modal-card.is-margin-top-persent
                        header.modal-card-head
                            p.modal-card-title Комната без сотрудников
                        section.modal-card-body
                            p В данный момент в комнате нет сотрудникв, кроме Вас.
                        footer.modal-card-foot
                            a.button.is-primary(onclick='toggleModal("modalEmptyWorkers");') Закрыть
                            
            div.modal#modalEmptyCustomers
                div.modal-background
                    div.modal-card.is-margin-top-persent
                        header.modal-card-head
                            p.modal-card-title Комната без клиентов
                        section.modal-card-body
                            p На данный момент в комнате нет клиентов. Оставайтесь на связи - как только появятся клиенты будет включен автоматический дозвон!
                        footer.modal-card-foot
                            a.button.is-primary(onclick='toggleModal("modalEmptyCustomers");') Закрыть
                            
            div.modal#modalInfo
                div.modal-background
                    div.modal-card.is-margin-top-persent
                        header.modal-card-head
                            p.modal-card-title Информация о пользователе
                        section.modal-card-body
                            div#userInfo
                                div#userfio Анонимный Пользователь
                                div#city Не известно
                                div#username Аноним
                        footer.modal-card-foot
                            a.button.is-primary(onclick='toggleModal("modalInfo");') Закрыть
                            
            div.modal#modalCallHistory
                div.modal-background
                    div.modal-card.is-margin-top-persent.not-margin-top
                        header.modal-card-head
                            p.modal-card-title История звонков
                        section.modal-card-body
                            div#historyList
                                h4.title.is-4 История звонков пока пуста
                        footer.modal-card-foot
                            a.button.is-pimary(onclick='toggleModal("modalCallHistory");') Закрыть
                            
            div.modal#modalCall
                div.modal-background
                    div.modal-card.is-margin-top-persent
                        header.modal-card-head
                            p.modal-card-title Ожидается звонок пользователю
                        section.modal-card-body
                            div.columns
                                div.column
                                    h4.title.is-4 Внимание! Cкоро будет осуществлен звонок пользователю!
                            div.columns
                                div.column.has-text-centered
                                    h5.title.is-5 Информация о ползователе
                            div.columns
                                div.column
                                        div#userfio-call-modal Анонимный пользователь
                                        div#city-call-modal Не известно
                                        div#username-call-modal Аноним
                        footer.modal-card-foot
                            a.button.is-primary(onclick='pleaseCall();') Соединить
                            a.button.is-danger(onclick='notCall();') Отложить
                            
            div.modal#modalAnswers
                div.modal-background
                    div.modal-card.is-margin-top-persent.not-margin-top
                        header.modal-card-head
                            p.modal-card-title Оценка сервиса
                        section.modal-card-body
                            p
                                h4.title.is-4 Просим уделить еще пару минут своего времени и оценить качество сервиса!
                                each question in myQuestions
                                    h5.title.is-5 #{question.questionText}
                                    div.columns
                                        if(question.answerOne !== 'none')
                                            div.column
                                                a.button.is-success(id='answerOne-'+question._id, onclick='clickAnswerButton(this);', element-group=question._id) #{question.answerOne}
                                        if(question.answerTwo !== 'none')
                                            div.column
                                                a.button.is-primary(id='answerTwo-'+question._id, onclick='clickAnswerButton(this);', element-group=question._id) #{question.answerTwo}
                                        if(question.answerThree !== 'none')
                                            div.column
                                                a.button.is-warning(id='answerThree-'+question._id, onclick='clickAnswerButton(this);', element-group=question._id) #{question.answerThree}
                                        if(question.answerFore !== 'none')
                                            div.column
                                                a.button.is-danger(id='answerFore-'+question._id, onclick='clickAnswerButton(this);', element-group=question._id) #{question.answerFore}
                            p.control
                                input.input#comments(name='comments', type='text', placeholder='Текст вашего комментария')
                        footer.modal-card-foot
                            a.button.is-primary(onclick='answerPolls();') Ответить
                            a.button.is-danger(onclick='notAnswerPolls();') Закрыть
                            
            div.modal#modalEmergencyCall
                div.modal-background
                    div.modal-card.is-margin-top-persent
                        header.modal-card-head
                            p.modal-card-title Срочный звонок
                        section.modal-card-body
                            p
                                h4.title.is-4 Внимание! Вы хотите нажали кноку вызова пользователя вне очереди. Если вы нажмете "соединить" любой текущий диалог будет прерван!
                        footer.modal-card-foot
                            a.button.is-primary(onclick='pleaseEmergencyCall();') Соеденить
                            a.button.is-danger(onclick='toggleModal("modalEmergencyCall");') Отменить
                            
        else
            div.modal#modalCall
                div.modal-background
                    div.is-margin-top-persent.modal-card
                        header.modal-card-head
                            p.modal-card-title Связаться с вами по видеосвязи?
                        section.modal-card-body
                            div.columns
                                div.column.is-fullwidth#questionDiv
                            div.columns#capchaDiv
                        footer.modal-card-foot
                            a.button.is-primary(onclick='pleaseCall();') Да, позвонить мне
                            a.button.is-danger(onclick='notCall();') Нет, не надо мне звонить
            div.modal#emptyRoom
                div.modal-background
                    div.is-margin-top-persent.modal-card
                        header.modal-card-head
                            p.modal-card-title Данная комната пуста
                        section.modal-card-body
                            div.columns
                                div.column.is-fullwidth
                                    span Извините, но на данный момент ни одного менеджера нет на месте. Вы можете отпраивть нам email на
                                    a(href='mailto: example@test.ru')  электронную почту
                                    span  и мы свяжемся с вами как только будет возможность. Извините за недобства =)
                            div.columns#capchaDiv
                        footer.modal-card-foot
            div.modal#notCalled
                div.modal-background
                    div.is-margin-top-persent.modal-card
                        header.modal-card-head
                            p.modal-card-title Ожидайте звонка
                        section.modal-card-body
                            div.columns
                                div.column.is-fullwidth
                                    p Извините, но все менеджеры пока заняты. Оставайтесь на связи и мы вам перезвоним в ближайшее время
                            div.colunms.is-hidden#sorry 
                                div.column.is-fullwidth
                                    h5.title.is-5 Извините, но наши операторы очень заняты, свяжитесь с нами по номеру 8 800 333-555-77    
                            div.columns
                                div.column.is-fullwidth#userCount
                            div.columns#capchaDiv
                        footer.modal-card-foot
            div.modal#haveCalled
                div.modal-background
                    div.is-margin-top-persent.modal-card.not-margin-top
                        header.modal-card-head
                            p.modal-card-title Спасибо за звонок
                        section.modal-card-body
                            p
                                h4.title.is-4 Просим уделить еще пару минут своего времени и оценить качество сервиса!
                                each question in myQuestions
                                    h5.title.is-5 #{question.questionText}
                                    div.columns
                                        if(question.answerOne !== 'none')
                                            div.column
                                                a.button.is-success(id='answerOne-'+question._id, onclick='clickAnswerButton(this);', element-group=question._id) #{question.answerOne}
                                        if(question.answerTwo !== 'none')
                                            div.column
                                                a.button.is-primary(id='answerTwo-'+question._id, onclick='clickAnswerButton(this);', element-group=question._id) #{question.answerTwo}
                                        if(question.answerThree !== 'none')
                                            div.column
                                                a.button.is-warning(id='answerThree-'+question._id, onclick='clickAnswerButton(this);', element-group=question._id) #{question.answerThree}
                                        if(question.answerFore !== 'none')
                                            div.column
                                                a.button.is-danger(id='answerFore-'+question._id, onclick='clickAnswerButton(this);', element-group=question._id) #{question.answerFore}
                            p.control
                                input.input#comments(name='comments', type='text', placeholder='Текст вашего комментария')
                                
                        footer.modal-card-foot
                            a.button.is-primary(onclick='answerPolls();') Ответить
                            a.button.is-danger(onclick='notAnswerPolls();') Закрыть
            div.modal#haveAnswered
                div.modal-background
                    div.is-margin-top-persent.modal-card
                        header.modal-card-head
                            p.modal-card-title Спасибо за звонок
                        section.modal-card-body
                            p
                                h4.title.is-4 Спасибо за звонок, теперь можете закрыть окно!
                            
        div#if-not-posible.is-hidden
            div.card.is-fullwidth.is-fullheight.is-hidden#softwareError
                div.card-image
                    figure.image.is-2by1
                        img(src='/images/old-browser.png' alt='Uuups!')
                div.card-content
                    div.media
                        div.media-left
                            figure.image.is-32x32
                                image(src='/images/error-icon.png', alt='Error')
                        div.media-content
                            p.title.is-5 Извините, ваш браузер не поддерживается!
                            p.subtitle.is-6 Вы используете устаревшую версию браузера
                    div.content
                        span Для того, чтобы воспользоваться сервисом установите поддерживаемый браузер или закажите обратную связь
                        br
                        div.columns.is-mobile
                            div.column
                                a.button.is-fullwidth(href='https://www.google.ru/chrome/browser/desktop/') Скачать Google Chrome
                            div.column
                                a.button.is-fullwidth(href='#') Обратная связь
            div.card.is-fullwidth.is-fullheight.is-hidden#hardwareError
                div.card-image
                    figure.image.is-2by1
                        img(src='/images/hardware-error.png' alt='Uuups!')
                div.card-content
                    div.media
                        div.media-left
                            figure.image.is-32x32
                                image(src='/images/error-icon.png', alt='Error')
                        div.media-content
                            p.title.is-5 Извините, но возникли неполадки с вашим обрудованием!
                            p.subtitle.is-6 Проверьте подключение web-камеры и микрофона
                    div.content
                        span Нам не удалось получить доступ к вашему микрофону и/или web-камере. Проверьте настройки системы и их подключение.
                        br
                        div.columns.is-mobile
                            div.column
                                a.button.is-fullwidth(href='https://www.google.ru/chrome/browser/desktop/') Скачать Google Chrome
                            div.column
                                a.button.is-fullwidth(href='#') Обратная связь
            div.card.is-fullwidth.is-fullheight.is-hidden#deviceError
                div.card-image
                    figure.image.is-2by1
                        img(src='/images/device-error.png' alt='Uuups!')
                div.card-content
                    div.media
                        div.media-left
                            figure.image.is-32x32
                                image(src='/images/error-icon.png', alt='Error')
                        div.media-content
                            p.title.is-5 Извините, но мобильные устройства временно не поддерживаются
                            p.subtitle.is-6 Не поддерживаемый класс устройств
                    div.content
                        span Мы еще разрабатываем мобильную версию сервиса. Пока просим воспользоваться декстопной!
                        br
                        div.columns.is-mobile
                            div.column
                                a.button.is-fullwidth(href='https://www.google.ru/chrome/browser/desktop/') Скачать Google Chrome
                            div.column
                                a.button.is-fullwidth(href='#') Обратная связь
                                
        div#if-possible.is-hidden
            nav.nav.is-darken
                div.nav-left
                    a.nav-item.is-brand(href='/')
                        h3.title.is-3.is-yellow
                            span.icon
                                i.fa.fa-comments-o
                            span#roomname(name=roomName) #{roomLabel}
                        
            div.columns
                div.column.sidebar#sidebar(name=userType)
                    div.box.self-video-box
                        video.easyrtcMirror.is-fullwidth#selfVideo(autoplay='autoplay', muted='muted', volume='0')
                        if(userType === 'worker')
                            div#appState(name='notNeedOpen')
                    if(userType === 'worker')
                        nav.panel
                            p.panel-heading.has-text-centered#iam Идет соединение
                            p.panel-tabs
                                a#users-menu.is-active(onclick='clickTab(this.id);', href='#') Пользователи
                                a#rooms-menu(onclick='clickTab(this.id);', href='#') Комнаты
                                a#call-menu(onclick='clickTab(this.id);', href='#!') Звонок
                                a#query-menu(onclick='clickTab(this.id);', href='#') Очередь
                            div#users-menu-block
                                div#otherClients
                            div#rooms-menu-block.is-hidden
                                div#roomList
                            div#query-menu-block.is-hidden
                                div.panel-block
                                    div.notification.is-success.is-hidden#suspendEnd
                                        button.delete#closeBtn(onclick='hideNotification("suspendEnd");')
                                        strong Внимание!
                                        span Завершился период в течении коготорого Вы не учавствуете в звонках пользователей!
                                    div.notification.is-success.is-hidden#succNotif
                                        button.delete#closeBtn(onclick='hideNotification("succNotif");')
                                        span Поздравяем! Интервал успешно изменен!
                                    div.notification.is-warning.is-hidden#suspendFifteen-notif
                                        strong Перерыв на 15 минут
                                        br 
                                        span Следующий звонок будет осуществлен только через 15 минут. Приятного перерыва!
                                    div.notification.is-warning.is-hidden#suspendHour-notif
                                        strong Перерыв на 1 час
                                        br
                                        span Следующий звонок будет осуществлен только через 1 час. Удачного совещения!
                                    div.notification.is-warning.is-hidden#suspendDay-notif
                                        strong Вы не принимаете звонки
                                        br
                                        span Данная задержка анлог статуса "Не беспокоить". Вам могут позвонить только ваши коллеги. Не забудьте отменить статус, как закончите свои дела!
                                    
                                    strong Задержка следующим перед звонком
                                        a.button.is-success.is-fullwidth.is-margin-bottom.is-hidden#cancelSuspend(onclick='cancelSuspend();') Отменить задержку
                                        a.button.is-info.is-fullwidth.is-margin-bottom#suspendFifteen(onclick='suspendCall(this.id, 900000);') Перерыв 15 минут
                                        a.button.is-info.is-fullwidth.is-margin-bottom#suspendHour(onclick='suspendCall(this.id, 3600000);') Перерыв 1 час
                                        a.button.is-info.is-fullwidth.is-margin-bottom#suspendDay(onclick='suspendCall(this.id, 86400000);') Перерыв 24 часа
                                    strong Перерыв между звонками
                                    p.control
                                        a.button.is-info.is-fullwidth.is-margin-bottom(onclick='changeCallInterval(6000);') 6 секунд
                                        a.button.is-info.is-fullwidth.is-margin-bottom(onclick='changeCallInterval(30000);') 30 секунд
                                        a.button.is-info.is-fullwidth.is-margin-bottom(onclick='changeCallInterval(60000);') 1 минута
                                        
                                div.panel-block
                                    div.columns
                                        div.column
                                            strong Очередь пользователей  
                                    div.columns
                                        div.column#queryDiv Очередь пуста
                                    div.columns
                                        div.column
                                            strong Сотрудники (вне очереди)
                                    div.columns
                                        div.column#queryDivWorker Список сотрудников пуст
                                    hr
                                    div.columns
                                        div.column
                                            a.button.is-fullwidth(onclick='toggleModal("modalCallHistory");') История звонков
                            
                            div#call-menu-block.is-hidden
                                strong Работа с пользователем
                                p.control
                                    a.button.is-default.is-margin-bottom.is-fullwidth(onclick='openInfo();')
                                        span.icon
                                            i.fa.fa-info
                                        span Информация о пользователе
                                    a.button.is-default.is-margin-bottom.is-fullwidth.is-hidden.is-danger#hangupCall(onclick='hangupCall();')
                                        span.icon
                                            i.fa.fa-phone
                                        span Положить трубку
                                    a.button.is-success.is-margin-bottom.is-fullwidth#cameraOff(onclick='muteMyVideo();')
                                        span.icon
                                            i.fa.fa-video-camera
                                        span Выключить камеру
                                    a.button.is-danger.is-margin-bottom.is-fullwidth.is-hidden#cameraOn(onclick='muteMyVideo();')
                                        span.icon
                                            i.fa.fa-ban
                                        span Включить камеру
                                    a.button.is-success.is-margin-bottom.is-fullwidth#microphoneOn(onclick='muteMyMicrophone();')
                                        span.icon
                                            i.fa.fa-microphone-slash
                                        span Выключить микрофон
                                    a.button.is-danger.is-margin-bottom.is-fullwidth.is-hidden#microphoneOff(onclick='muteMyMicrophone();')
                                        span.icon
                                            i.fa.fa-microphone
                                        span Выключить микрофон
                    else
                         nav.panel
                            p.panel-heading.has-text-centered#iam Идет соединение
                                div#clientData
                                    span
                                        div#userfio(info=clientData.userfio) #{clientData.userfio},
                                        div#city(info=clientData.city) #{clientData.city} /
                                        div#username(info=clientData.username) #{clientData.username}
                                        
                            a.panel-block#cameraOff(href='#', onclick='muteMyVideo();')
                                span.panel-icon
                                    i.fa.fa-ban
                                span Выключить камеру
                            a.panel-block.is-hidden#cameraOn(href='#', onclick='muteMyVideo();')
                                span.panel-icon
                                    i.fa.fa-video-camera
                                span Включить камеру
                            a.panel-block#microphoneOff(href='#', onclick='muteMyMicrophone();')
                                span.panel-icon
                                    i.fa.fa-microphone-slash
                                span Выключить микрофон
                            a.panel-block.is-hidden#microphoneOn(href='#', onclick='muteMyMicrophone();')
                                span.panel-icon
                                    i.fa.fa-microphone
                                span Включить микрофон
                div.column.main-screen
                    video#callerVideo.is-fullwidth(autoplay="autoplay")
